html{
    height: 100%;
    width: 100vw;
}
* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
section{
    min-height: 70vh;
}
.checkout {
    height: 100vh;
}
.checkout label{
    color: white;
}
.checkout label, input {
    margin-bottom: 10px;
    font-size: 20px;
}
.checkout input{
    font-weight: 500;
    padding: 10px;
    text-align: center;
}
.nav-link {
    font-family: 'Lobster', cursive;
    color: white;
    font-size: xx-large;
    margin-left: 6px;
    margin-right: 6px;
}
.nav-link:hover{
    background-color: #f3f3f3;
    color: #343a40;
}
.display-1 {
    font-size: 3em;
    font-weight: 700;
}
.hero {
    height: 100%;
    width: 100vw;
    background-image: url(/225project/photos/background.jpg);
    background-size: cover;
}
#image {
    max-width: 30%;
}
#qty{
    width: 40px;
}
.card {
    border: none;
    padding: 0;
    margin-top: 20px;
}
.product-link .card-img-overlay{
    transition: .2s ease-in-out;
    opacity: 0;
    text-align: center;
    background-color: rgba(0,0,0,.5);
    color:white;
    font-weight: 700;
}
.product-link, .card-img-overlay{
    transition: transform .2s ease-in-out;
}
.product-link:hover .card-img-overlay{
    opacity: .8;
    transform: scale(1.03);
}
.product-link:hover .card-img{
    transform: scale(1.03);
}
.cart-items{
    min-height: 100vh;
}
.cart-items .row {
    flex-wrap: nowrap; 
}
.cart-items p,h5 {
    color:#f3f3f3;
}
.cart-items.card-body {
    width: 10%;
}
.order-status {
    /* display: none !important; */
}
@media only screen and (max-width: 1300px){
    .card-img-overlay{
        font-size: .8em;
    }
}
@media only screen and (max-width: 1000px){
    .card-img-overlay{
        font-size: .7em;
    }
}
@media only screen and (max-width: 768px){
    .card-img-overlay{
        font-size: 1em;
    }
}
@media only screen and (max-width: 480px){
    .products {
        flex-wrap: wrap;
    }
    .product-link .card-img-overlay {
        opacity: 1;
        position: relative;
        background-color: rgba(0,0,0,.85);
    }
    .product-link .card-img-overlay + h5 + p {
        font-size: smaller;
        color: #f3f3f3;
        font-weight: 600;
    }
    .display-1{
        font-size: 2em;
    }
    .blockquote {
        font-size: .8em;
    }
    .nav-link {
        font-size: x-large;
        margin-left: 10px;
        margin-right: 10px;
    }
    .cart-items .row {
        flex-wrap: wrap; 
    }
    .checkout {
        height: 200vh;
    }
}